<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div id="ordersGrid" class="ag-theme-quartz" style="height: 600px"></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/order.js"></script>
}
