@using Microsoft.AspNetCore.Mvc.TagHelpers
@model NikeStore.Web.Models.Dto.LoginRequestDto

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/login.css">

    <title>NikeStore - Login</title>
</head>
<body>


<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/img/login-page-banner.jpg');"></div>
    <div class="contents order-2 order-md-1">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <h3>Login to <strong>NikeStore</strong></h3>
                    <p class="mb-4">Shop the world's trends, delivered to your door</p>

                    <form method="post">
                        <div class="form-group first">
                            <label for="username">Username</label>
                            <input asp-for="UserName" type="text" required class="form-control" placeholder="your-email@gmail.com" id="username">
                            <span asp-validation-for="UserName" class="text-danger"/>
                        </div>
                        <div class="form-group last mb-3">
                            <label for="password">Password</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Your Password" id="password">
                            <span asp-validation-for="Password" class="text-danger"/>
                        </div>

                        <div class="d-flex mb-5 align-items-center">
                            <label class="control control--checkbox mb-0">
                                <span class="caption">Remember me &nbsp; </span>
                                <input type="checkbox" checked="checked"/>
                                <div class="control__indicator"></div>
                            </label>
                            <span class="ml-auto">
                                <a href="#" class="forgot-pass">Forgot Password?</a>
                            </span>
                        </div>

                        <input type="submit" value="Log In" class="btn btn-block btn-primary">

                        <br/>
                        <br/>
                        <br/>

                        <label>Don't have an account? <a href="/Auth/Register" class="text-primary">Register</a></label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/login.js"></script>
<partial name="_ValidationScriptsPartial"/>
</body>
</html>
