<div class="bg-neutral text-neutral-content flex justify-center py-5 mt-10">
  <div>
    <p class="text-center">Profile Links</p>
    <a
      title="LinkedIn"
      target="_blank"
      [href]="env.LinkedInProfileUrl"
      class="inline-block p-2"
    >
      <i-bs name="linkedin"> </i-bs
    ></a>
    <a
      title="Github"
      target="_blank"
      [href]="env.GithubProfileUrl"
      class="inline-block p-2"
    >
      <i-bs name="github"> </i-bs
    ></a>
    <a
      title="Stack OverFlow"
      target="_blank"
      [href]="env.StackOverFlowProfileUrl"
      class="inline-block p-2"
    >
      <i-bs name="stack-overflow"> </i-bs
    ></a>
  </div>
</div>
