<h1
  class="mb-4 text-3xl font-extrabold text-gray-900 md:text-5xl lg:text-6xl text-center"
>
  <span
    class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
    >NikeStore</span
  >
</h1>
<div class="flex justify-center mt-10">
  <div class="xl:w-full 2xl:w-3/6">
    <h2 class="mb-2 text-md font-semibold text-gray-900">
      NikeStore is an enterprise-grade microservice-based web application,
      leveraging clean architecture, Ocelot API gateway, RabbitMQ, Hangfire, JWT
      tokens, .NET Identity, MailKit, & Entity Framework Core.
      <br />
      <a
        target="_blank"
        [href]="env.NikeStoreGithubRepositoryUrl"
        class="link link-primary mr-2"
        >Source Code</a
      >
      <a
        target="_blank"
        [href]="env.nikeStoreWebAppBaseUrl"
        class="link link-primary mr-2"
        >NikeStore Web App</a
      >
    </h2>

    <ol class="space-y-1 list-decimal list-inside">
      <li *ngFor="let feature of nikeStoreFeatures" [innerHTML]="feature"></li>
    </ol>
  </div>
</div>
