<div class="navbar bg-neutral text-neutral-content mb-4">
  <div class="navbar-start">
    <a routerLink="/" class="btn btn-ghost text-xl"
      ><i-bs name="shop"> </i-bs>NikeStore</a
    >
  </div>
  <div class="navbar-center flex">
    <ul class="menu menu-horizontal px-1">
      <li
        class="hover:underline hover:decoration-1"
        routerLinkActive="underline decoration-1"
      >
        <a routerLink="/app-flow-diagram">
          <i-bs name="diagram-3"> </i-bs> App Flow Diagram</a
        >
      </li>
      <li
        class="hover:underline hover:decoration-1"
        routerLinkActive="underline decoration-1"
      >
        <a routerLink="/nikestore-app"
          ><i-bs name="shop"> </i-bs>NikeStore App</a
        >
      </li>
      <li
        class="hover:underline hover:decoration-1"
        routerLinkActive="underline decoration-1"
      >
        <a routerLink="/web-apis"><i-bs name="tools"> </i-bs>Web APIs</a>
      </li>
      <li
        class="hover:underline hover:decoration-1"
        routerLinkActive="underline decoration-1"
      >
        <a routerLink="/hangfire-server"
          ><i-bs name="stack"> </i-bs>Hangfire Server</a
        >
      </li>
      <li
        class="hover:underline hover:decoration-1"
        routerLinkActive="underline decoration-1"
      >
        <a routerLink="/rabbit-mq-manager"
          ><i-bs name="chat-right-text"> </i-bs>RabbitMQ Manager</a
        >
      </li>
      <li
        class="hover:underline hover:decoration-1"
        routerLinkActive="underline decoration-1"
      >
        <a routerLink="/about-the-project"
          ><i-bs name="list-ol"> </i-bs>About The Project</a
        >
      </li>
    </ul>
  </div>
  <div class="navbar-end"></div>
</div>
