<div class="navbar bg-base-100 mb-8">
  <div class="navbar-start">
    <a routerLink="/" class="btn btn-ghost text-xl">NikeStore</a>
  </div>
  <div class="navbar-center flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a routerLink="/diagram">App Flow Diagram</a>
      </li>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/rabbit">RabbitMQ Manager</a></li>
      <li><a routerLink="/about">About the Project</a></li>
    </ul>
  </div>
  <div class="navbar-end"></div>
</div>
