<div class="navbar bg-neutral text-neutral-content mb-4">
  <div class="navbar-start">
    <a routerLink="/" class="btn btn-ghost text-xl">NikeStore</a>
  </div>
  <div class="navbar-center flex">
    <ul class="menu menu-horizontal px-1">
      <li
        class="hover:underline hover:decoration-1"
        routerLinkActive="underline decoration-1"
      >
        <a routerLink="/app-flow-diagram">App Flow Diagram</a>
      </li>
      <li
        class="hover:underline hover:decoration-1"
        routerLinkActive="underline decoration-1"
      >
        <a routerLink="/nikestore-app">NikeStore App</a>
      </li>
      <li
        class="hover:underline hover:decoration-1"
        routerLinkActive="underline decoration-1"
      >
        <a routerLink="/web-apis">Web APIs</a>
      </li>
      <li
        class="hover:underline hover:decoration-1"
        routerLinkActive="underline decoration-1"
      >
        <a routerLink="/hangfire-server">Hangfire Server</a>
      </li>
      <li
        class="hover:underline hover:decoration-1"
        routerLinkActive="underline decoration-1"
      >
        <a routerLink="/rabbit-mq-manager">RabbitMQ Manager</a>
      </li>
      <li
        class="hover:underline hover:decoration-1"
        routerLinkActive="underline decoration-1"
      >
        <a routerLink="/about-the-project">About The Project</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end"></div>
</div>
