<div>
  <p>
    <span class="badge badge-neutral mr-1">{{ title }}</span>
    <a class="inline-block align-middle" target="_blank" [href]="src">
      <div
        class="tooltip"
        [attr.data-tip]="'Open ' + title + ' in new browser tab'"
      >
        <i-bs name="arrow-up-right-square"></i-bs>
      </div>
    </a>
  </p>

  <div
    [ngClass]="{ 'iframe-container-background': isLoading }"
    class="iframe-container"
  >
    <iframe
      #iframe
      [src]="src | safe : 'resourceUrl'"
      [height]="height"
      width="100%"
    ></iframe>
  </div>
</div>
