@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - NikeStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css" integrity="sha256-h2Gkn+H33lnKlQTNntQyLXMWq7/9XI2rlPCsLsVcUBs=" crossorigin="anonymous">


</head>
<body>
<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
    <div class="container-fluid">

        @if (User.Identity.IsAuthenticated && User.Claims.Where(c => c.Type == ClaimTypes.Role).FirstOrDefault().Value.ToLower() == "admin")
        {
            <a asp-controller="Order" asp-action="OrderIndex" class="navbar-brand">
                <img src='~/img/nikestore-neon-logo.png' alt='NikeStore' style='display: block; max-width: 200px;'>
            </a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img src='~/img/nikestore-neon-logo.png' alt='NikeStore' style='display: block; max-width: 200px;'>
            </a>
        }

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">

                @if (!(User.Identity.IsAuthenticated && User.Claims.Where(c => c.Type == ClaimTypes.Role).FirstOrDefault()?.Value.ToLower() == "admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link  text-capitalize" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-bag-shopping"></i> Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-capitalize" asp-controller="Cart" asp-action="CartIndex"><i class="fa-solid fa-cart-shopping"></i> Goto Cart</a>
                    </li>
                }

                @if (User.Identity.IsAuthenticated && User.Claims.Where(c => c.Type == ClaimTypes.Role).FirstOrDefault()?.Value.ToLower() == "admin")
                {
                    <li class="nav-item">
                        <a class="nav-link  text-capitalize" asp-controller="Coupon" asp-action="CouponIndex"><i class="fa-solid fa-receipt"></i> Manage Coupon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-capitalize" asp-controller="Product" asp-action="ProductIndex"><i class="fa-solid fa-bag-shopping"></i> Manage Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-capitalize" asp-controller="Order" asp-action="OrderIndex"><i class="fa-solid fa-certificate"></i>Manage Orders</a>
                    </li>
                }

            </ul>

            <ul class="navbar-nav ms-auto">

                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link  text-capitalize" asp-controller="Auth" asp-action="Login"><i class="fa-regular fa-circle-right"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-capitalize" asp-controller="Auth" asp-action="Register"><i class="fa-solid fa-address-card"></i> Register</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link  text-capitalize" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-user"></i> Welcome @User.Claims.Where(c => c.Type == JwtRegisteredClaimNames.Name).FirstOrDefault().Value</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-capitalize" asp-controller="Auth" asp-action="Logout"><i class="fa-regular fa-circle-left"></i> Logout</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer_area section_padding_130_0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-footer-widget section_padding_0_130">
                    <div class="footer-logo mb-3"></div>
                    <p>Discover your style, registration one click away - Shop the world's trends, delivered to your door.</p>

                    <div class="copywrite-text mb-5">
                        <p class="mb-0">NikeStore - Shop the world's trends, delivered to your door</p>
                    </div>

                    <div class="footer_social_area">
                        <a href="#" data-toggle="tooltip" data-placement="top" title data-original-title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title data-original-title="Pinterest">
                            <i class="fa fa-pinterest"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title data-original-title="Skype">
                            <i class="fa fa-skype"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title data-original-title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg">
                <div class="single-footer-widget section_padding_0_130">

                    <h5 class="widget-title">About</h5>

                    <div class="footer_menu">
                        <ul>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Corporate Sale</a>
                            </li>
                            <li>
                                <a href="#">Terms &amp; Policy</a>
                            </li>
                            <li>
                                <a href="#">Community</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg">
                <div class="single-footer-widget section_padding_0_130">

                    <h5 class="widget-title">Support</h5>

                    <div class="footer_menu">
                        <ul>
                            <li>
                                <a href="#">Help</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Term &amp; Conditions</a>
                            </li>
                            <li>
                                <a href="#">Help &amp; Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg">
                <div class="single-footer-widget section_padding_0_130">

                    <h5 class="widget-title">Contact</h5>

                    <div class="footer_menu">
                        <ul>
                            <li>
                                <a href="#">Call Centre</a>
                            </li>
                            <li>
                                <a href="#">Email Us</a>
                            </li>
                            <li>
                                <a href="#">Term &amp; Conditions</a>
                            </li>
                            <li>
                                <a href="#">Help Center</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center py-4">
        <p>&copy; @DateTime.Now.ToString("yyyy") copyright. Made with <i style="color: tomato" class="fa-solid fa-heart"></i> &amp; passion by - <a class="text-primary" target="_blank" href="https://github.com/devxbasit">devxbasit</a></p>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/nav.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<partial name="_Notifications"/>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
