@model int

<div class="container my-3">
    <h1 class="display-6 text-primary text-center text-uppercase">Congratulations!</h1>
    <p class="lead text-success text-center">Order Confirmed. You are one step closer to your order.</p>
    <p class="text-danger lead">Order ID - @Model</p>
    <div>
        <img src="/img/order.gif" class="w-75 h-auto"/>
    </div>
</div>
