@model int

<div class="container my-3">
    <h1 class="display-6 text-primary text-center text-uppercase">Congratulations!</h1>
    <div>
        <img src="/img/order.gif" class="w-75 h-auto"/>
    </div>
</div>
