<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <a href="/Coupon/CouponCreate" class="btn btn-sm btn-primary my-3"><i class="fa-solid fa-plus"></i> Add Coupon</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="couponsGrid" class="ag-theme-quartz" style="height: 600px"></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/coupon.js"></script>
}
